@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background: green;
}

main {
    border: 1px solid black;

    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width: 350px;
    height: 500px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    font-size: 85px
}

#numbers{
    display: flex;
    justify-content: center;
    font-size: 120px;
}


#bottom{
    display: flex;
    justify-content:end;
    align-items: flex-end;
    padding-bottom: 4px;
    margin-left: auto;
}

.rotate{
    transform: rotate(180deg);
   
}
